<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--Local DB workorderems-->
    <!--Local DB workorderems-->
    <!--VM SQL workorderems-->
    <!--<add name="workorderEMSEntities" connectionString="metadata=res://*/EntityModel.WorkOrderEMS.csdl|res://*/EntityModel.WorkOrderEMS.ssdl|res://*/EntityModel.WorkOrderEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.90.159.5;initial catalog=workorderems;persist security info=True;user id=sa;password=Password@123;Connect Timeout=0; pooling='true'; Max Pool Size=0; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--VM SQL workorderems-->
    <add name="workorderEMSEntities" connectionString="metadata=res://*/EntityModel.WorkOrderEMS.csdl|res://*/EntityModel.WorkOrderEMS.ssdl|res://*/EntityModel.WorkOrderEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;initial catalog=workorderems;integrated security=True;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>