@{
    ViewBag.Title = "Manager Registration";

    if (ViewBag.Invite != null && ViewBag.Invite == true) { Layout = "~/Views/Shared/_InvitationLayout.cshtml"; }
    else { Layout = "~/Views/Shared/_ManagerLayout.cshtml"; }
}
@using (Html.BeginForm("Manager", "GlobalAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Personal Details
        </div>
        @Html.Partial("_Registration")
        <div class="clearfix"></div>
        <div class="col-sm-8">
            <button class="btn btn-default bluebutton" type="submit">Save</button>

            <a href="~/GlobalAdmin" class="btn btn-default bluebutton">Cancel</a>

        </div>
    </div>
}
@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}l