<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<!--<connectionStrings>
  <add name="workorderEMSEntities" connectionString="metadata=res://*/EntityModel.WorkOrderEMS.csdl|res://*/EntityModel.WorkOrderEMS.ssdl|res://*/EntityModel.WorkOrderEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;initial catalog=workorderems;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="WorkOrderEMSContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WorkOrderEMSContext-20170814225555; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WorkOrderEMSContext-20170814225555.mdf" providerName="System.Data.SqlClient" />
 </connectionStrings>-->
  <connectionStrings>
    <!--VM SQL workorderems-->
    <!--<add name="workorderEMSEntities" connectionString="metadata=res://*/EntityModel.WorkOrderEMS.csdl|res://*/EntityModel.WorkOrderEMS.ssdl|res://*/EntityModel.WorkOrderEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.90.159.5;initial catalog=workorderems;persist security info=True;user id=sa;password=Password@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Beta Server-->
    <!--<add name="workorderEMSEntities" connectionString="metadata=res://*/EntityModel.WorkOrderEMS.csdl|res://*/EntityModel.WorkOrderEMS.ssdl|res://*/EntityModel.WorkOrderEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EliteWebDB\eTrac;initial catalog=workorderems;persist security info=True;user id=workorderems;password=Elite76!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Local DB workorderems-->
    <add name="workorderEMSEntities" connectionString="metadata=res://*/EntityModel.WorkOrderEMS.csdl|res://*/EntityModel.WorkOrderEMS.ssdl|res://*/EntityModel.WorkOrderEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;initial catalog=workorderems;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Local DB workorderems-->
  </connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--This key added for SQL Connection (SignalR)-->
		<!--VM SQL workorderems-->
		<!--<add key="SQLConnection" value="Data Source=13.90.159.5;Initial Catalog=workorderems;Persist Security Info=True;User ID=sa;Password=Password@123" />-->
		<!--Beta Server-->
		<!--<add key="SQLConnection" value="Data Source=EliteWebDB\eTrac;Initial Catalog=workorderems;Persist Security Info=True;User ID=workorderems;Password=Elite76!!" />-->
		<!--Local DB workorsderems-->
		<add key="SQLConnection" value="Data Source=(LocalDB)\v11.0;Initial Catalog=workorderems;Persist Security Info=True" />
		<add key="GlobalAdminUserEmail" value="EtracSP@EliteParkingSOA.com" />
		<!--<add key="SMTP_DEFAULT_HOST" value="smtp.gmail.com"/>
    <add key="SMTP_DEFAULT_EMAIL" value="sdnew111@gmail.com"/>
    <add key="SMTP_DEFAULT_PASSWORD" value="sdnew@123"/>-->

		<!--Email Setting-->
		<!--<add key="SMTP_DEFAULT_HOST" value="relay-hosting.secureserver.net" />
    <add key="SMTP_DEFAULT_EMAIL" value="sumitsalpekar.sdei@smartdatainc.net" />
    <add key="SMTP_DEFAULT_PASSWORD" value="smartsdn7698ss" />-->
		<!--Email Setting-->

		<!--<add key="SMTP_DEFAULT_HOST" value="mail.smartdatainc.net" />
    <add key="SMTP_DEFAULT_EMAIL" value="mstest@smartdatainc.net" />
    <add key="SMTP_DEFAULT_PASSWORD" value="mstest" />-->
		<!--<add key="SMTP_DEFAULT_HOST" value="smtp.gmail.com" />
    <add key="SMTP_DEFAULT_EMAIL" value="democpa9@gmail.com" />
    <add key="SMTP_DEFAULT_PASSWORD" value="password@123" />-->

		<add key="SMTP_DEFAULT_HOST" value="smtp.office365.com" />
		<add key="SMTP_DEFAULT_EMAIL" value="EtracSP@EliteParkingSOA.com" />
		<add key="SMTP_DEFAULT_PASSWORD" value="Xoco3096" />

		<add key="SMTP_DEFAULT_PORT" value="587" />
		<add key="SMTP_DEFAULT_EnableSsl" value="true" />

		<add key="RegistrationMailTemplate" value="~/MailTemplate/RegistrationTemplate.html" />
		<add key="UserAddedToLocation" value="~/MailTemplate/UserAddedToLocation.html" />

		<add key="ForgotPasswordTemplate" value="~/MailTemplate/ForgotPasswordTemplate.html" />
		<add key="LocationVerficationTemplate" value="~/MailTemplate/LocationVerificationByManagerTemplate.html" />
		<add key="VehicleRegistrationApprovalTemplate" value="~/MailTemplate/VehicleRegistrationApprovalTemplate.html" />
		<add key="CreateNewUser" value="~/MailTemplate/CreateUserTemplate.html" />
		<add key="VehicleRegistrationSuccessFulTemplate" value="~/MailTemplate/VehicleRegistration.html" />
		<add key="WorkOrderRequestTemplate" value="~/MailTemplate/WorkOrderRequestTemplate.html" />
		<add key="ItemMissingTemplate" value="~/MailTemplate/ItemMissing.html" />
		<add key="VehiclePartDamageTemplate" value="~/MailTemplate/VehiclePartDamageTemplate.html" />
		<add key="CellphoneTemplate" value="~/MailTemplate/CellphoneTemplate.html" />
		<add key="CellphoneButtonsTemplate" value="~/MailTemplate/CellphoneButtonsTemplate.html" />
		<add key="CellphoneFunctionalTemplate" value="~/MailTemplate/CellphoneFunctionalTemplate.html" />
		<add key="InventoryStockCreate" value="~/MailTemplate/InventoryStockCreate.html" />
		<add key="InventoryStockUpdate" value="~/MailTemplate/InventoryStockCreate.html" />
		<add key="InventoryStockAssigned" value="~/MailTemplate/InventoryStockAssigned.html" />
		<add key="Infraction" value="~/MailTemplate/InfractionTemplate.html" />
		<add key="VendorApprove" value="~/MailTemplate/VendorApprovalTemplate.html" />
		<add key="VendorDecline" value="~/MailTemplate/VendorDeclineTemplate.html" />
		<add key="VendorApproveSuccess" value="~/MailTemplate/VendorScuccessApprovalTemplate.html" />
		<add key="InfractionToClient" value="~/MailTemplate/InfractionDetailsToClient.html" />
		<add key="InfractionApprovalAndDecline" value="~/MailTemplate/InfractionAcceptDeclineDetails.html" />
		<add key="VehicleMileageTemplate" value="~/MailTemplate/VehicleMileageTemplate.html" />
		<add key="VehicleRegistrationDecline" value="~/MailTemplate/VehicleRegistrationDeclineTemplate.html" />
		<add key="SurveyFeedback" value="~/MailTemplate/SurveryFeedback.html" />
		<add key="ContinuousRequest" value="~/MailTemplate/ContinuousRequestTemplate.html" />
		<add key="EmployeeIdle" value="~/MailTemplate/EmployeeIdleTemplate.html" />
		<add key="CheckOut" value="~/MailTemplate/CheckOut.html" />
		<add key="ElevatorInspection" value="~/MailTemplate/ElevatorInspectionTemplate.html" />
		<add key="ElevatorCapacity" value="~/MailTemplate/ElevatorCapacityTemplate.html" />
		<add key="QrcExpiration" value="~/MailTemplate/QrcExpirationTemplate.html" />
		<add key="VehicleRenewal" value="~/MailTemplate/VehicleRenewalTemplate.html" />
		<add key="VehicleRegistrationNewApprovalTemplate" value="~/MailTemplate/VehicleRegistrationNewApprovalTemplate.html" />
		<add key="ShuttlePartDamageTemplate" value="~/MailTemplate/ShuttlePartDamageTemplate.html" />
		<add key="ShuttleTirePartDamageTemplate" value="~/MailTemplate/ShuttleTirePartDamageTemplate.html" />
		<add key="VendorApprovalNewVendorTemplate" value="~/MailTemplate/VendorApprovalNewVendorTemplate.html" />
		<add key="ShuttleMileageTemplate" value="~/MailTemplate/ShuttleMileageTemplate.html" />
    <add key="EfleetInspectionPreTripTemplate" value="~/MailTemplate/EfleetInspectionPreTripTemplate.html" />
    <add key="PreventativeMaintenanceTemplate" value="~/MailTemplate/PreventativeMaintenanceTemplate.html" />
    <add key="EfleetVehicleIncidentTemplate" value="~/MailTemplate/EfleetVehicleIncidentTemplate.html" /> 
    <add key="EfleetFuelingTemplate" value="~/MailTemplate/EfleetFuelingTemplate.html" />
    <add key="EfleetIncidentForServiceTemplate" value="~/MailTemplate/EfleetIncidentForServiceTemplate.html" />
    
		<add key="W9FormPath" value="~/Content/Images/ProjectDocs/VehicleW9Form/" />
		<add key="DisclaimerFormPath" value="Content/eMaintenance/DisclaimerDownload/" />
		<add key="SurveyFormPath" value="Content/eMaintenance/SurveyDownload/" />
		<add key="DARDisclaimerFormPath" value="Content/DARDisclaimer/" />
    <add key="InspectionDoc" value="Content/eFleetDocs/Inspection/" />

		<add key="W9FormPathVendor" value="~/Content/ProjectDocs/VendorW9Form/" />
		<add key="VendorAckFormPath" value="~/Content/ProjectDocs/VendorAckForm/" />
    <add key="AttachmentOfInsurance" value="~/Content/eFleetDocs/AttachmentInsurance/" />
    <add key="AttachmentOfRegistration" value="~/Content/eFleetDocs/AttachmentRegistration/" />
    <add key="DriverImage" value="~/Content/eFleetDocs/DriverImage/" />
    <add key="VehicleImage" value="~/Content/eFleetDocs/VehicleImage/" />
		<add key="ProjectLogoPath" value="~/Content/Images/ProjectLogo/" />
		<add key="ProfilePicPath" value="~/Content/Images/ProfilePic/" />
		<add key="ConstantImages" value="~/Content/Images/constant/" />
		<add key="WorkRequestImage" value="~/Content/Images/WorkRequest/" />
		<add key="PWDGUIDMaxLength" value="10" />
		<add key="eTracDefaultCountry" value="" />
		<add key="eTracVerifyLocation" value="1" />
		<add key="WorkRequestAssignmentPath" value="~\Content\Images\WorkRequest\" />
		<add key="DriverProfilePic" value="~/Content/Images/DriverProfilePic" />
		<add key="EnforcementPic" value="~/Content/Images/EnforcementPic" />
		<add key="QRCVehicleEnforcementPath" value="~\Content\Images\EnforcementPic\" />
		<add key="DarImagePath" value="~\Content\Images\DarImage\" />
		<add key="FRSignature" value="~\Content\Images\FRSignature\" />
		<add key="CheckOut" value="~/MailTemplate/CheckOut.html" />
		<add key="ElevatorInspection" value="~/MailTemplate/ElevatorInspectionTemplate.html" />
		<add key="ElevatorCapacity" value="~/MailTemplate/ElevatorCapacityTemplate.html" />
		<add key="RulesViolationPath" value="~\Content\Images\RulesViolation\" />
		<add key="ContinuousRequest" value="~/MailTemplate/ContinuousRequestTemplate.html" />
		<add key="DARImage" value="~/Content/Images/DarImage/" />
		<add key="QRCImage" value="~/Content/Images/QRCImage/" />
		<add key="DARSignature" value="~\Content\Images\DARSignature\" />
		<!---1 == new  and "" for old-->

		<!--FOR QRCType Mobile Image Upload-->
		<add key="QRCVehiclePath" value="~\Content\Images\QRCVehicle\" />
		<add key="QRCParkingFacilityPath" value="~\Content\Images\QRCParking\" />
		<!--FOR SERVER-->
		<!--<add key="tempProjectID" value="4"/>
    <add key="tempUserID" value="7"/>
    <add key="tempEmployeeUserID" value="10"/>
    <add key="tempClientUserID" value="14"/>-->
		<!--FOR DEVELOPMENT-->
		<add key="tempProjectID" value="5" />
		<add key="tempUserID" value="9" />
		<add key="tempEmployeeUserID" value="23" />
		<add key="tempClientUserID" value="53" />

		<add key="tempProjectLogo" value="63547349063062063250-business-logo-047.png" />
		<add key="tempProjectImage" value="company.jpg" />
		<add key="tempProjectName" value="Airport-1" />
		<add key="ItemAbberivationList" value="PF,VE,TC,EL,GA,TS,BS,EP,MW,ES,BR,EQ,DV,GT,SB" />

		<add key="SpecialProjectID" value="129" />
		<add key="WorkRequestProjectID" value="128" />
		<add key="DefaultImage" value="\Images\no_img_found.png" />
		<add key="JQGridPDF" value="\ReportPDF\" />

		<!--<add key="hostingprefix" value="http://etrac.eliteparkingsoa.com/" />-->
		<!--<add key="hostingprefix" value="http://woems.azurewebsites.net/" />-->
		<!--<add key="hostingprefix" value="http://etracbeta.eliteparkingsoa.com/" />-->
		<add key="hostingprefix" value="http://localhost:57572/" />
    <add key="eTracScriptVersion" value="003" />
    <add key="TokenExpiry" value="30" />
	</appSettings>

	<system.web>
		<customErrors mode="Off" />
		<httpHandlers>
			<!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />-->
			<add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
		</httpHandlers>
		<!--<authentication mode="None"/>-->
		<authentication mode="Forms">
			<!--<forms loginUrl="~/Login/Index" timeout="1" slidingExpiration="true" name="eTrackAUTHX"/>-->
			<forms loginUrl="/Login/Index" timeout="1" slidingExpiration="true" name="eTrackAUTHX" protection="All" />
		</authentication>

		<compilation debug="true" targetFramework="4.5">
			<!--<assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>-->
		</compilation>
		<httpRuntime targetFramework="4.5" />

		<roleManager enabled="true" defaultProvider="SimpleRoleProvider">
			<providers>
				<clear />
				<add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
			</providers>
		</roleManager>
		<membership defaultProvider="SimpleMembershipProvider">
			<providers>
				<clear />
				<add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
			</providers>
		</membership>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="130">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>


		<pages>
			<namespaces>
				<add namespace="MvcPaging" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthenticationModule" />
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<handlers>
			<add name=" " path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>

		<system.web.extensions>
			<scripting>
				<webServices>
					<jsonSerialization maxJsonLength="50000000"></jsonSerialization>
				</webServices>
			</scripting>
		</system.web.extensions>


	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding maxReceivedMessageSize="999999999" receiveTimeout="24" closeTimeout="24" maxBufferPoolSize="999999999" maxBufferSize="999999999">
					<readerQuotas maxDepth="32" maxStringContentLength="999999999" maxArrayLength="999999" maxBytesPerRead="4096" maxNameTableCharCount="999999" />
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="WorkOrderEMS.Service.Service">
				<endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="WorkOrderEMS.IService" />
			</service>
		</services>
		<!--<behaviors>
      
      <serviceBehaviors>
        <behavior>
          -->
		<!--
    -->
		<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
		<!--
    -->
		<!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
		<!--
    -->
		<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
		<!--
    -->
		<!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
		<behaviors>
			<endpointBehaviors>
				<behavior name="AjaxBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
	</system.serviceModel>
	<elmah>
		<!--See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for more information on remote access and securing ELMAH.-->
		<security allowRemoteAccess="true" />
	</elmah>
	<location path="elmah.axd" inheritInChildApplications="false">
		<system.web>
			<httpHandlers>
				<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			</httpHandlers>
			<!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
		</system.web>
		<system.webServer>
			<handlers>
				<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			</handlers>
		</system.webServer>
	</location>
  <location path="signalr">
    <system.webServer>
      <urlCompression doDynamicCompression="false" />
    </system.webServer>
  </location>
</configuration>