@model WorkOrderEMS.Models.UserModel

@{
    ViewBag.Title = "Invite Client";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}


<div class="form-horizontal">
    @using (Html.BeginForm("InviteClient", "Manager"))
    {

        @Html.Partial("_InviteUser")
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
