
@{
    ViewBag.Title = "List Rule";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    long ProjectID = 0;
    if (ViewBag.ProjectID != null)
    {
        ProjectID = Convert.ToInt32(ViewBag.ProjectID);
    }
}


<script src="~/GridListing/JqGridScript/RuleList.js"></script>
<script type="text/javascript">
    $_ProjectID = '@ProjectID';
    $(window).bind('resize', function () {
        var width = $('#jqGrid_container').width();
        $('#tbl_RuleList').setGridWidth(width);
    });
</script>
    <!-- Page Heading -->
@*<div class="col-lg-12">

        <div class="col-lg-12">
            <ol class="breadcrumb graybox">
                <li>
                    <i class="fa fa-dashboard"></i> <span>List</span> <small>Rule</small>
                </li>
            </ol>
        </div>
    </div*@
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="jqGrid_container">
                <table id="tbl_RuleList" border="0" cellpadding="0" cellspacing="0"></table>
                <div id="divRuleListPager"></div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li>
                <i class="fa fa-edit"></i> <span>Pending</span> <small>Assignments</small>
            </li>


            <a href="#" class="pull-right">View All</a>
        </ol>
    </div>
</div>*@



