@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
  Layout = "~/Views/Shared/_InvitationLayout.cshtml";
   // Layout = null;
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-info">An error occurred while processing your request.</h2>
<h2 class="text-info">@ViewBag.Error</h2>

