@{
    ViewBag.Title = "WorkRequest";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";

}

@using (Html.BeginForm("WorkRequest", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Work Request Details
        </div>
        @Html.Partial("_WorkRequest")

    </div>
}


